@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Cadastro de Clientes</h1>
    <div>
        <img src="./img/logo_etec.png">
        <p>Conheça o nosso banco da Etec MCM</p>
    </div>
</div>
