@{
	ViewData["Title"] = "Apagar Cliente";
}

<h1>Apagar cliente</h1>
<h2>Você tem certeza que deseja apagar este cliente?</h2>
<div class="btn-group" role="group">
	<a asp-controller="Cliente" asp-action="Index" role="button" class="btn btn-primary">Voltar</a>
	<a role="button" class="btn btn-danger">Apagar</a>
</div>