@{
	ViewData["Title"] = "Atualizar Cliente";
}

<h1>Atualizar cliente</h1>
<div class="btn-group" role="group">
	<a asp-controller="Cliente" asp-action="Index" role="button" class="btn btn-primary">Voltar</a>
</div>
